.sidebarContainer {
  width: 300px;
  height: 100%;
  padding: 10px;
}
.sidebarTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}
.sidebarTitleContainer > h3 {
  color: #555;
}