.html {
  background-color: #fff;
}
.body {
  /* font-size: 13px; */
  font-family: 'Montserrat', sans-serif;
}
.editorContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  position: absolute;
  margin-top: -50px;
  padding-top: 50px;
}
.navbarHeading {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
}
.navbarButton > span {
  color: #fff;
  font-size: 13px;
}