.dropContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 10px;
  border: 2px dashed #d5dadf;
  color: #a4abb1;
}
.isDragOver {
  border-color: #364699;
  color: #364699;
}