.html {
  background-color: #f2f2f2;
}
.body {
  font-family: 'Montserrat', sans-serif;
}
.editorContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  position: absolute;
  margin-top: -50px;
  padding-top: 50px;
}
